
$color-primary: #B6C1B6;
$color-primary-dark1: #6C866C;
$color-primary-dark2: #2E3E2E;
$color-primary-dark3: #141E14;

$color-secondary: #1B331B;
$color-secondary-dark: #0F2D0F;

$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
