.container {
    /*margin: 20px auto;
    max-width: 120rem;*/
    background-color: $color-primary;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);

    border-radius: 10px;

    @include respond(tab-port) { // width < 900?
        margin: auto;
    }

}
