.footer {
    background-image: linear-gradient(to right bottom, $color-primary-dark2, $color-primary-dark3);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  	font-size: 1.2rem;
    padding: 5rem;
    

    &__text {
        color: $color-white;
        transition: all .2s;
        transform: translateY(100%) translateX(20%);

        @include respond(tab-port) {
          transform: translateY(-100%) translateX(20%);
          margin-top: 5rem;
      }

    }

    &__text:hover {
        transform: translateY(100%) translateX(20%) scale(1.2);

        @include respond(tab-port) {
          transform: translateX(20%) scale(1.2);

      }
    }

    &__link:link,
    &__link:visited {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all .2s;

      @include respond(tab-port) {
        margin-top: 2rem;
    }
    }

    &__link:hover,
    &__link:active {
      background-color: rgba($color-white, .05);
      transform: translateY(-3px);
    }
}
